body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header, main, footer{
    padding: 20px;
}

header{
    background-color: green;
    color: white;
}

main{
    background-color: gray;
    color: black;
}

footer{
    background-color: blue;
    color: white;
}

